In [33]:
# query = "cheap very cheap CD DVD"
# d1 = "cheap CD bugs cheap software bugs CD bugs bugs bugs"
# d2 = "cheap DVD bugs bugs bugs bugs"

# documents = [query, d1, d2]

In [1]:
d1 = "It was the best of times"
d2 = "It was the worst of times"
d3 = "It was the age of wisdom"
d4 = "It was the best of the best"

documents = [d1, d2, d3, d4]

In [2]:
# Scikit Learn
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Create the Document Term Matrix
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(documents)

# Convert Sparse Matrix to Pandas Dataframe to see the word frequencies.
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names(), 
                  index=['d1', 'd2', 'd3', 'd4'])

In [3]:
df

    age  best  it  of  the  times  was  wisdom  worst
d1    0     1   1   1    1      1    1       0      0
d2    0     0   1   1    1      1    1       0      1
d3    1     0   1   1    1      0    1       1      0
d4    0     2   1   1    2      0    1       0      0

In [4]:
# Compute Cosine Similarity
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df, df))

[[1.         0.83333333 0.66666667 0.86164044]
 [0.83333333 1.         0.66666667 0.61545745]
 [0.66666667 0.66666667 1.         0.61545745]
 [0.86164044 0.61545745 0.61545745 1.        ]]